/**********************************
GENERAL
***********************************/
/*sticky footer*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    background-color: #fff;
    background: url(../img/bg.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

/**********************************
LOGO
***********************************/
header img {
	max-width: 90%;
	max-height: 40%;
	width: 400px;
	display: block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;

}

/**********************************
Subtitulo
***********************************/
section h2 {
	text-align: center;
	margin-top: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
}

/**********************************
Footer
***********************************/

footer {
	background-color: rgba(143, 220, 209, 0.8);
}

footer h4 a {
	text-decoration: none;
	color: #303030;
}

footer h4 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding-top: 15.5px;
	padding-bottom: 15.5px;
	font-size: 0.8em;	
}

